@use '../variables.scss' as *;

@mixin flexContainer($align, $justify, $direction) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@mixin baseBtn($width, $height, $radius) {
  display: block;
  border: none;
  outline: none;
  text-align: center;
  width: $width;
  height: $height;
  background: $blue-800;
  border-radius: $radius;
  cursor: pointer;
}